<div class="answer_box">
  

  <div class="upvote" id="<%= votable.id %>">
    <img style = "width: 20px" src="assets/upvote.png">
  </div>  

  <div class="rating">
    <%= votable.rating %>
    
  </div>

  <div class="downvote" id="<%= votable.id %>">
    <img style = "width: 20px" src="assets/downvote.png">
  </div>

</div>  
