<div class="answer_box">
  
  <div class="upvote">
    <img src="upvote.png">
  </div>  

  <div class="rating">
    
  </div>

  <div class="downvote">
    <img src="  downvote.png">
  </div>

</div>  
