Welcome to MackOverflow!

<div>
  <%= link_to "Sign Up!", new_user_path %>
</div>

<% @questions.each do |question| %>

	<div class="question">

<% render "vote_box" %>

    <%= link_to question.content, question %>
    </div>
  <% end %>


<div class="answer_box">
  
  <div class="upvote">
    <img src="app/assets/images/upvote.png">
  </div>  

  <div class="rating">
    
  </div>

  <div class="downvote">
    <img src="downvote.png">
  </div>

</div>  

