Welcome to MackOverflow!

<div>
  <%= link_to "Sign Up!", new_user_path %>
</div>

<% @questions.each do |question| %>

	<div class="question">

<%= render "vote_box" %>

    <%= link_to question.content, question %>
    </div>
  <% end %>



