


<div id="welcome">MackOverflow</div>

<div class="question_container">
<% @questions.each do |question| %>

	<div class="question">

    <%= render partial: "vote_box", locals: {:votable => question} %>
    <div class="qtitle">
      <%= link_to question.content, question %>
    </div>
    <span class="author"> Author: <%= link_to question.user.username, question.user %></span>
    <span class="author">Posted <%= distance_of_time_in_words(question.user.created_at, question.created_at) %> later</span>

  </div>

<% end %>
</div>
