<p id="notice"><%= notice %></p>

<!-- We suggest to delete the edit link unless you are trying to edit user's password????????? -->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
