nav {
  height: 40px;
  width: 100%;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  text-align: right;
  line-height: 40px;
  box-shadow: 5px 5px 20px #aaa
}

nav a {
  color: #ddd;
  text-decoration: none;
  margin-right: 20px;
  &:visited {
    color: #ddd;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

body {
  padding-top: 40px;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 25px;
  background-color: #eee !important;
}

#welcome {
  font-family: 'Sansita One';
  font-size: 120px;
  text-align: center
}

.answer_box {
  float: left;
  clear: left;
}

.question, .answer {
  height: 60px;
}

.qtitle {
  font-size: 20px;
  margin-left: 35px;
  margin-top: 5px;
}

.question {
  padding: 5px;
  border: solid 1px #ccc;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 5px 5px 20px #ccc
}

.answer {
  padding: 5px;
  border: solid 1px #ccc;
  margin-bottom: 15px;
  background-color: #fefefe;
}

.author {
  margin: 50px 0 0 15px;
  font-size: x-small; 
}

.rating {
  text-align: center;
  margin-bottom: 2px
}

.answer_container {
  border: solid 3px white;
  width: 70%;
  padding: 10px;
}

.answer_text {
  padding: 5px;
  margin-left: 25px
}

textarea {
  width: 450px;
  height: 100px;
}
