
	<nav>
	
			<%= link_to "Home", root_path %>
			<% if logged_in? %>
					<%= link_to "Ask a Mack for help", new_question_path %>
				<%= link_to "Sign out", signout_path, method: "delete" %>
			<% else %>
				<%= link_to "Sign in", signin_path %>
			<% end %>
	
	</nav>
